.todo_item .done {
  margin-right: 1rem;
}
.todo_item .done:hover {
  cursor: pointer;
  color: lime !important;
}

.collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  opacity: 1;
  pointer-events: all;
  display: inline-block;
}
.todoItem_content {
  padding-left: 2rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
